/* Кастомизация слайдера для шторки тренера */
.trainer-slider {
  position: relative;
}

.trainer-slider .slick-slide {
  height: 16rem;
}

.trainer-slider .slick-slide > div {
  height: 100%;
}

.trainer-slider .slick-dots {
  bottom: 12px;
}

.trainer-slider .slick-dots li button:before {
  color: white;
  opacity: 0.5;
  font-size: 8px;
}

.trainer-slider .slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}

/* Слайдер фото/видео в профиле */
.media-slider {
  position: relative;
  min-height: 14rem;
}

.media-slider .slick-list,
.media-slider .slick-track {
  height: 14rem;
}

.media-slider .slick-slide {
  height: 14rem;
}

.media-slider .slick-slide > div {
  height: 100%;
  overflow: hidden;
}

.media-slider .slick-dots {
  bottom: 10px;
}

.media-slider .slick-dots li button:before {
  color: rgba(0, 0, 0, 0.5);
  font-size: 8px;
}

.media-slider .slick-dots li.slick-active button:before {
  color: rgba(0, 0, 0, 0.9);
}